# Ignore MedalCare-XL folder
MedalCare-XL/
# Ignore mimic-iv-ecg-demo folder
mimic-iv-ecg-demo-diagnostic-electrocardiogram-matched-subset-demo-0.1/
# Ignore PTB-XL dataset folder
ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3/
__pycache__/
outputs/*
!outputs/quick_waveform_check/
!outputs/quick_waveform_check/**
checkpoint/
MedalRaw/
*.pth
